/* Dark Purple: #1F1F3C */
/* Medium Purple: #A8AAD2 */
/* Light Purple: #EAEAF4 */
/* White: #FFFFFF */

body {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-h1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #1F1F3C;
    height: 100%;
    width: 30%;
    align-items: center;
}

h1 {
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll visible;
}

.input-container {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.user-input-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: auto;
    background-color: #A8AAD2;
}

.title-containers {
    display: inline-block;
    text-align: right;
    flex-direction: row;
    width: 85%;
    height: 100%;
    margin-top: 20px;
}

.title {
    width: 90%;
    line-height: 2rem;
    border: solid #1F1F3C;
    border-width: 3px;
}

label {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 24px;
}

.body {
    width: 90%;
    line-height: 5rem;
    margin-bottom: 10px;
    border: solid #1F1F3C;
    border-width: 3px;
}

.save-button-container {
    display: flex;
    align-items: start;
    width: 90%;
    height: 100%;
    margin-top: 20px;
    margin-left: 7.5%;
}

.save-button {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 10px;
    color: white;
    border: solid #1F1F3C;
    line-height: 3rem;
    background-color: #1F1F3C;
    width: 86%;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 24px;
    cursor: pointer;
}

.save-button:disabled {
    background-color: #EAEAF4;
    cursor: default;
}

.display-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EAEAF4;
    height: 100%;
}

.saved-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: 100%;
    width: 95%;
    margin: 1.5em 2.5em 1.5em 6em;
}

.idea-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFFFFF;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    border: solid #1F1F3C;
    min-width: 7vw;
    max-width: 17vw;
    min-height: 23vh;
    max-height: 33vh;
    border-width: 3px;
    text-align: center;
}

.idea-card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400 bold;
    font-size: 1.5rem;
    margin-top: 2vh;
    padding: 0;
}

.idea-card-body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.icons {
    height: 5em;
    width: 5em;
    margin: 3px;
    cursor: pointer;
}



.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    background: #1F1F3C;
}

.idea-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
















